.contenitore-big {
    height: calc(100vh - 125px);
    // flex-wrap: nowrap;
    flex-wrap: wrap;
    overflow: hidden;
}

.plates-index {

    .row {

        .card {
            height: 140px;
            width: 560px;
            border: 2px solid transparent;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            text-decoration: none;
            
            img {
                width: 80px;
                height: 80px; 
                display: block;
                object-fit: cover;
                object-position: center;
            }
        
            .card-body {
                background-color: #F5F5F4;    
                white-space: normal; 
                overflow-y: scroll;
        
                .title {
                    font-weight: 700;
                    color: #440063;
                }
        
            }
        
        }
        
        .card-body {
            // scrollbar-width: thin;
            // scrollbar-color: var(--thumbBG) var(--scrollbarBG);
            transition: transform 350ms;
        }

        .card:hover {
            border-color: #440063;
            transform: scale(1.1);
            transition: transform 150ms;
        }
        
        // .card-body::-webkit-scrollbar {
        //     width: 5px;
        // }

        // .card-body::-webkit-scrollbar-track {
        //     background: var(--scrollbarBG);
        // }
        
        // .card-body::-webkit-scrollbar-thumb {
        //     background-color: var(--thumbBG) ;
        //     border-radius: 999px;
        //     border: 3px solid var(--scrollbarBG);
        // }
        padding: 20px;
    }
}

.img-shad-large {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.over-flow-cont {
    overflow-y: scroll;
    height: 100%;
}

.card-.over-flow-cont::-webkit-scrollbar {
    width: 5px;
}

.card-.over-flow-cont::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}
        
.card-.over-flow-cont::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 999px;
    border: 3px solid var(--scrollbarBG);
}

h4,h2 {
    color: black;
    font-weight: 900;
}

.allergie {
    background-color: #00CCBC;
    color: white;
}

a {
    p {
        font-size: 0.8rem;
        margin-top: 6px;
    }
}

.bkg-wave {
    background-image: url('/img/wave38.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

@media screen and (max-width: 1520px) {
    .row .card-wrapper {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 992px) {
    .bkg-wave {
        overflow-y: scroll;
    }

    .over-flow-cont {
        overflow-y: initial;
    }
}
