.img-show {
    
    background-image: url('/img/wave38.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no repeat;
    min-height: 100vh;
    padding: 80px 0;    

    .plate-show {

        h1 {
            font-weight: 900;
            text-align: center;
            // text-transform: uppercase;
            margin-bottom: 30px;
        }

        h4 {
            font-size: 1.28571429em;
            font-weight: 900;
            line-height: 1.2857em;
            margin: 0;
        }
        
        .card {
            font-size: 1em;
            overflow: hidden;
            padding: 0;
            border: none;
            border-radius: .28571429rem;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        
        .card-block {
            font-size: 1em;
            position: relative;
            margin: 0;
            padding: 0.25rem 1.25rem;
            border: none;
            border-top: 1px solid rgba(34, 36, 38, .1);
            box-shadow: none;
        }
        
        .card-img-top {
            display: block;
            width: 100%;
            height: auto;
        }
        
        .card-title {
            font-size: 1.28571429em;
            font-weight: 700;
            line-height: 1.2857em;
        }
        
        .card-text {
            clear: both;
            margin-top: .5em;
            color: rgba(0, 0, 0, .68);
        }
        
        .card-footer {
            font-size: 1em;
            position: static;
            top: 0;
            left: 0;
            max-width: 100%;
            padding: .75em 1em;
            color: rgba(0, 0, 0, .4);
            border-top: 1px solid rgba(0, 0, 0, .05) !important;
            background: #fff;

            .eurobold {
                color: black;
            }

            .badge {
                color: white;
                background-color: #02CCBC;
            }

            .badge:hover {
                color: white;
            }

        }
        
        .btn {
            border: 1px solid rgba(0, 0, 0, .05);
        }
            
        .text-bold {
            font-weight: 700;
        }
        
        .slug {
            font-size: 1em;
            color: rgba(0, 0, 0, .4);
        }
        
        .badge:hover {
            color: rgba(0, 0, 0, .87);
        }

    }

}