// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Style 
@import './Plates/index.scss';
@import './Plates/show.scss';
@import './noRestaurant/index.scss';

// input validations 

<<<<<<< HEAD
input:valid {
=======
.navbar {
    background-color: black;
    height: 62px;
    
    a {
        color: #00CCBC;
    }

    .logo {
        width: 30px;
        height: 30px;
    }

    .img-logo-wrapper {
        margin: 0 10px 0 0;
    }
}

input:valid{
>>>>>>> fixes-front
    border: 1px solid green;
}

input:invalid {
    border: 1px solid red;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: unset !important;
    outline: none !important;
    box-shadow: none !important;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #440063;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #440063 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
    transform: rotate(360deg);
    }
}

.container-loader {
    height: calc(100vh - 86px);
}