// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Style 
@import './Plates/index.scss';
@import './Plates/show.scss';

@import './Plates/show.scss';

// input validations 

input:valid{
    border: 1px solid green;
}

input:invalid{
    border: 1px solid red;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: unset !important;
    outline: none !important;
    box-shadow: none !important;
}